*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    max-width: 2180px;
}

/* --------------- Header --------------- */

.wrapper-content-header {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #051C34;
  }
  
  .logo {
    width: 40%;
    margin: 15px 0px 5px 10px;
  }
  
  .logo a img {
    width: 350px;
    height: auto;

  }
  
  .menu {
    width: 100%;
    position: absolute;
  
  }
  
  @keyframes bugfix {
    from {
      padding: 0;
    }
  
    to {
      padding: 0;
    }
  }
  
  #overlay-button {
    position: absolute;
    right: 2em;
    top: 1em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }
  
  #overlay-button span {
    height: 4px;
    width: 30px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  
  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  
  #overlay-button span:after {
    top: 10px;
  }
  
  #overlay-button span:before, #overlay-button span:after {
    height: 4px;
    width: 30px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    transition: all 0.2s ease-in-out;
  }
  
  #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    opacity: 0.9;
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox]:checked~#overlay {
    visibility: visible;
  }
  
  input[type=checkbox]:checked~#overlay-button:hover span, input[type=checkbox]:checked~#overlay-button span {
    background: transparent;
  }
  
  input[type=checkbox]:checked~#overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
  }
  
  input[type=checkbox]:checked~#overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  
  #overlay {
    height: 100vh;
    width: 100vw;
    background: #051c34bd;
    z-index: 2;
    visibility: hidden;
    position: fixed;
  }
  
  #overlay.active {
    visibility: visible;
  }
  
  #overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
  }
  
  #overlay ul li {
    padding: 1em;
  }
  
  #overlay ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  #overlay ul li a:hover {
    opacity: 0.6;
  }

/* Main Style */

.main{
    background-color: #F7F7F7;
    margin-bottom: 100px;
}

.content-main{
    padding: 0;
    display: flex;
    flex-direction: row;
}

.left-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 75px;
    width: 50%;
}

.left-main h1{
    font-size: 72px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px
}

.left-main p{
    font-size: 18px;
    color: #666;
    margin-bottom: 25px;
}

.left-main a {
    background-color: #1E71CF;
    color: white;
    font-weight: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 5px;
    max-width: max-content;
}

.left-main a:hover{
    background-color: #333;
}

.right-main{
    width: 50%;
    background: url('assets/background-vector.png');
    background-size: cover;
    background-position: bottom;
}

.right-main img{
    width: 100%;
    margin-top: 50px;
    height: auto;
}



/* Tutorial Style */

.tutorial-to-buy{
    margin-bottom: 100px
}

.allcontent-tutorial h4, .allcontent-where h4{
    font-size: 22px;
    font-weight: 700;
    color: #1E71CF;
}

.allcontent-where{
    text-align: center;
}

.allcontent-tutorial h1, .allcontent-where h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.wrapper-tutorial{
    text-align: center;
}

.wrapper-content-tutorial{
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}

.content-tutorial{
    margin: 0 25px;
    width: 33%;
}

.content-tutorial img{
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    
}

.content-tutorial h3{
    font-size: 24px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 10px;
}

.content-tutorial p{
    font-size: 16px;
    color: #666;
    margin-bottom: 25px;
}

.banner{
    display: flex;
    justify-content: center;
    background-color: white;
}

.banner img{
    margin: 0 50px;
    border-radius: 15px;
}

/* Why-Us Style */

.why-choose-us{
    margin-bottom: 100px;
}

.wrapper-content-choose{
    display: flex;
}

.left-content-choose{
    width: 50%;
    display: flex;
    align-items: center;
    background: url('assets/background-vector.png');
    background-size: cover;
    background-position: bottom;
}

.left-content-choose img{
    width: 100%;
    height: auto;
}

.right-content-choose{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 100px;
}

.right-content-choose h4{
    font-size: 22px;
    font-weight: 700;
    color: #1E71CF;
}

.right-content-choose h1{
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 25px;
}

.content-choose{
    display: flex;
    margin: 25px 0;
}

.content-choose img{
    width: 125px;
    height: auto;
    margin-right: 20px;
}

.text-content-choose h3{
    font-size: 24px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 10px;
}

.text-content-choose p {
    font-size: 16px;
    color: #666;
    margin-bottom: 25px;
}

/* Buy Style */

.allcontent-buy{
    text-align: center;
    margin-bottom: 100px;
}

.allcontent-buy h4{
    font-size: 22px;
    font-weight: 700;
    color: #1E71CF;
}

.allcontent-buy h1{
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 50px;
}


.container-cards{
    display: flex;
}

.card{
    width: 25%;
    margin: 0 10px;
    padding: 15px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.card-image img{
    width: 300px;
}

.card-brand{
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-top: 10px;
}

.product-short-description{
    font-size: 16px;
    color: #666;
}

.price{
    font-size: 20px;
    font-weight: 700;
    color: #00000081;
    margin-top: 10px;

}

.card-btn{
    color: white;
    background-color: #1E71CF;
    border-radius: 25px;
    font-weight: 700;
    padding: 5px 15px;
    margin-top: 25px;
    border: none;
}

.card-btn:hover{
    background-color: #333;
}

/* Our Clients Style */
.our-clients{
    margin-bottom: 100px;
}

.allcontent-clients{
    text-align: center;
}

.allcontent-clients h4{
    font-size: 22px;
    font-weight: 700;
    color: #1E71CF;
}

.allcontent-clients h1{
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 25px;
}

.owl-carousel{
    margin-top: 50px;
}

.item{
    width: 100%;
    display: flex;
    text-align: start;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.item img{
    width: 450px;
}

.item .left-card-client{
    width: 90%;
    margin-right: 15px;
}

.item .left-card-client img{
    width: 100%;
}


.rigth-card-client h3{
    font-size: 22px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
}

.rigth-card-client p{
    font-size: 14px;
    color: #666;
    margin-bottom: 18px;
}

.rigth-card-client .where{
    opacity: 0.75;
    font-size: 14px;
}

.item .rigth-card-client{
    width: 100%;
}

/* Talk Style */

.allcontent-talk{
    text-align: center;
}

.allcontent-talk h4{
    font-size: 22px;
    font-weight: 700;
    color: #1E71CF;
}

.allcontent-talk h1{
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 25px;
}

.wrapper-content-talk{
    display: flex;
    margin-top: 50px;
}

.left-talk{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-talk h1{
    font-size: 40px;
    font-weight: bold;
    color: #1E71CF;
}

.left-talk p{
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-bottom: 25px;
    width: 75%;
}

.left-talk a{
    background-color: #1E71CF;
    color: white;
    font-weight: 16px;
    padding: 20px 30px;
    border-radius: 25px;
    margin-top: 5px;
    max-width: max-content;
}

.left-talk a:hover{
    background-color: #333;
}

.rigth-talk{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rigth-talk img{
    width: 500px;
}


/* Footer Style */

footer{
    background-color: #051C34;
}

.wrapper-footer-content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 75%;
    margin: 0 auto;
}

.left-footer{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.left-footer a, .rigth-footer h4{
    color: rgb(202, 202, 202);
    font-size: 16px;
    margin-bottom: 10px;
}

.left-footer img{
    width: 250px;
    height: auto;
}

.left-footer a{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.left-footer a img{
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.rigth-footer{
    padding-top: 50px;
}

.social-medias a img{
    width: 35px;
    height: auto;
    margin-right: 15px;
}

.copy{
    text-align: center;
    border-top: 1px solid rgba(202, 202, 202, 0.719);
    color: rgba(202, 202, 202, 0.719);
    width: 80%;
    margin: 0 auto;
}

.copy p{
    padding: 25px 0;
}


/* PAGINA ABOUT US */

/* About Us Style */
.allcontent-about{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.allcontent-about h4, .allcontent-choose h4{
    font-size: 22px;
    font-weight: 700;
    color: #1E71CF;
}

.allcontent-about h1, .allcontent-choose h1{
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 50px;
}

.wrapper-content-about{
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}

.left-about{
    width: 50%;
}

.left-about img{
    width: 70%;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 20px rgba(0, 0, 0, 0.1);
}

.rigth-about{
    width: 50%;
    text-align: start;
}

.rigth-about h1{
    font-size: 60px;
    font-weight: bold;
    color: #333;
}

.rigth-about p{
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
    width: 75%;
}

.rigth-about a{
    background-color: #1E71CF;
    color: white;
    font-weight: 16px;
    padding: 20px 30px;
    border-radius: 25px;
    max-width: max-content;
}

.rigth-about a:hover{
    background-color: #333;
}

/* Services Style */

.our-services{
    background: linear-gradient(90deg, #072c53 0%, #81c1e0 100%);
    padding: 75px;
    margin-bottom: 100px;
    border-radius: 0 0 175px 0;
}

.allcontent-services{
    text-align: center;
    margin-bottom: 100px;
}

.allcontent-services h4{
    font-size: 22px;
    font-weight: 700;
    color: #051C34;
}

.allcontent-services h1{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 50px;
}

.wrapper-card-services{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.card-service{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 0 50px 0;
}

.card-service h3{
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.service1{
    background: linear-gradient(rgba(21, 21, 122, 0.349), rgba(2, 2, 107, 0.37)), url('assets/service1.jpg');
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.service2{
    background: linear-gradient(rgba(21, 21, 122, 0.349), rgba(2, 2, 107, 0.37)), url('assets/service2.jpg');
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.service3{
    background: linear-gradient(rgba(21, 21, 122, 0.349), rgba(2, 2, 107, 0.37)), url('assets/service3.png');
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

/* Experts Style */

.allcontent-experts{
    text-align: center;
    margin-bottom: 100px;
}

.allcontent-experts h4{
    font-size: 22px;
    font-weight: 700;
    color: #1E71CF;
}

.allcontent-experts h1{
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 50px;
}

.allcontent-experts .owl-carousel .item img{
    width: 410px;
    height: 500px;
    border-radius: 25px;

}

.allcontent-experts .owl-carousel .item h3{
    position: absolute;
    right: 40%;
    bottom: 10%;
    color: white;
    font-weight: 700;
    font-size: 36px;
    border-top: 1px solid white;
    padding-top: 10px;
}

.allcontent-experts .owl-carousel .item p{
    position: absolute;
    right: 35%;
    bottom: 2%;
    color: white;
    font-size: 18px;
}

/* Talk to use page */

form{
    border: 1px solid rgb(196, 196, 196);
    padding: 50px;
    margin-bottom: 100px;
    border-radius: 25px;
    box-shadow: 1px 3px 10px #e8e8e8;
}

.text-form{
    text-align: start;
}

.text-form label, .message label{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.text-form input{
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 25px;
    background-color: #f2f0f0;
    border: none;
    color: #333;
}

.span-required{
    color: red;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid red;
    font-size: 18px;
    font-weight: bold;
    display: none;
}

.message{
    text-align: start;
}

.message textarea{
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 25px;
    background: #f2f0f0;
    border: none;
    color: #333;
}

.button{
    background-color: #1E71CF;
    color: white;
    font-weight: 16px;
    padding: 20px 30px;
    border-radius: 25px;
    width: 75%;
    border: none;
    font-size: 18px;
}

.button:hover{
    background-color: #333;
}

/* Responsive */

@media (max-width: 480px){
    .wrapper-content-about{
        flex-direction: column;
        align-items: center;
    }

    .wrapper-card-services{
        flex-direction: column;
        align-items: center;
    }

    .card-service{
        width: 100%;
        margin-bottom: 30px;
    }

    .left-footer img{
        width: 200px;
    }

    .left-footer {
        margin-right: 50px;
    }

    .social-medias{
        display: flex;
    }

    .left-about{
        width: 90%;
    }

    .left-about img{
        width: 90%;
    }

    .our-clients{
        margin-bottom: 30px;
    }

    .content-tutorial{
        margin: 0;
    }

    .wrapper-footer-content{
        flex-direction: column;
    }

    .left-footer{
        width: 100%;
    }
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo a img{
        width: 200px;
    }

    .rigth-about{
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .rigth-about h1{
        font-size: 48px;
    }

    .rigth-about a{
        font-size: 18px;
    }

    .left-main{
        margin: 20px;
    }

    .left-main h1{
        font-size: 36px;
    }

    .wrapper-content-tutorial, .wrapper-content-choose{
        flex-direction: column;
        align-items: center;
    }

    .allcontent-tutorial h4, 
    .allcontent-choose h4, 
    .allcontent-buy h4,
    .allcontent-clients h4,
    .allcontent-talk h4{
        font-size: 18px;
    }

    .allcontent-tutorial h1, 
    .allcontent-choose h1, 
    .allcontent-buy h1,
    .allcontent-clients h1,
    .allcontent-talk h1{
        font-size: 26px;
    }

    .allcontent-choose{
        text-align: center;
    }

    .item{
        flex-direction: column;
        margin: 0;
    }

    .allcontent-experts{
        margin-bottom: 30px;
    }

    .right-content-choose{
        margin: 0;
        width: 90%;
    }

    .allcontent-experts .owl-carousel .item img{
        width: 100%;
    }

    .allcontent-experts .owl-carousel .item h3{
        right: 35%;
    }

    .allcontent-experts .owl-carousel .item p{
        right: 30%;
    }
    .content-tutorial{
        width: 100%;
    }

    .banner{
        display: none;
    }

    .container-cards{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 90%;
        margin-bottom: 30px;
    }

    .left-card-client{
        margin-bottom: 20px;
    }

    .rigth-card-client{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .rigth-card-client h3{
        font-size: 22px;
    }

    .left-talk{
        width: 90%;
    }

    .left-content-choose{
        width: 90%;
    }

    .left-talk p{
        width: 100%;
    }

    .left-talk a{
        margin-bottom: 30px;
    }

    .rigth-talk{
        display: none;
    }

    .wrapper-content-talk{
        align-items: center;
        justify-content: center;
    }
}


@media (min-width: 481px) and (max-width: 767px) {
    /* Main Style Responsive*/

    .left-main{
        margin: 0 25px;
    }

    .left-main h1{
        font-size: 30px;
    }

    .left-main p{
        font-size: 16px;
        width: 100%;
    }

    .right-main{
        width: 100%;
    }

    .allcontent-tutorial h1, .allcontent-buy h1{
        font-size: 30px;
    }

    .allcontent-tutorial h4, .allcontent-buy h4{
        font-size: 18px;
    }

    .banner {
        display: none;
    }

    /* Tutorial Responsive */
    .wrapper-content-tutorial{
        flex-direction: column;
    }

   
    .banner img{
        width: 100px;
    }

    .owl-carousel {
        max-height: 350px;
    }

    .container-cards{
        flex-direction: column;
        align-items: center;
    }

    .content-main .left-main h1{
        font-size: 50px;
    }

    .card{
        width: 90%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }

    .card button{
        font-size: 22px;
        padding: 15px 30px;
    }

    .owl-carousel{
        display: flex;
        flex-direction: column;
    }



    .owl-carousel{
        max-height: 350px;
    }

    .rigth-talk img{
        width: 350px;
    }

    .wrapper-content-talk{
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(196, 196, 196);
    }

    .left-talk{
        padding-left: 30px;
    }

    .left-talk p{
        width: 100%;
        padding-right: 30px;
    }

    .left-talk a{
        margin-bottom: 30px;
    }

    .wrapper-footer-content{
        justify-content: space-around;
        width: 100%;
    }

    .wrapper-content-tutorial{
        align-items: center;
        justify-content: center;
    }

    .wrapper-content-choose{
        justify-content: center;
    }
    
    /* About Us Responsive */

    .wrapper-content-about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-about {
        width: 100%;
        margin-bottom: 50px;
    }

    .logo a img{
        width: 350px;
    }

    .rigth-about{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .rigth-about p{
        font-size: 18px;
    }

    .rigth-about a{
        text-align: center;
        width: 100%;
        font-size: 24px;
    }

    .wrapper-card-services{
        flex-direction: column;
        align-items: center;
    }

    .card-service{
        margin-bottom: 50px;
    }

    .owl-item{
        margin: 0 30px;
    }

    .allcontent-experts .owl-carousel .item img {
        height: 400px;
    }

    .allcontent-experts .owl-carousel .item h3{
        right: 35%;
    }

    .allcontent-experts .owl-carousel .item p{
        right: 25%;
    }

    .wrapper-content-talk{
        border: none;
    }

    .left-content-choose{
        width: 40%;
    }

    .content-tutorial{
        width: 100%;
    }

    .content-tutorial img{
        width: auto;
    }

    .content-tutorial h3{
        font-size: 34px;
    }

    .content-tutorial p{
        font-size: 22px;
    }

    .allcontent-tutorial h4{
        font-size: 22px;
    }

    .right-content-choose{
        margin-left: 30px;
    }

    .allcontent-tutorial h1{
        font-size: 36px;
    }
    
    .left-main h1{
        font-size: 50px;
        line-height: 50px;
    }

    .item{
        flex-direction: column;
    }

    .our-clients{
        padding-bottom: 100px;
        margin-bottom: 0;
    }

    .item .left-card-client{
        margin-right: 0;
    }

    .left-card-client img{
        border-radius: 25px;
        margin-bottom: 30px;
    }

    .rigth-card-client{
        text-align: center;
    }

}



